# Android
android/build/
android/.cxx/
android/.gradle/
android/local.properties

# iOS
ios/build/
ios/Pods/

# local env / auth
.npmrc
.env
.env*.local

# macOS
.DS_Store

# typescript
*.tsbuildinfo
